<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Encuentra tus vuelos preferidos" aria-label="Search">
        </form>
        <div >
            <a class="navbar-brand" href="#">Explorar</a>
        </div>

        <div >
            <a class="navbar-brand" href="#">Mis vuelos</a>
        </div>

        <div class="vr d-none d-lg-block mx-3" style="height: 20px; color: gray;"></div>

        <div>
            <a class="navbar-brand" href="#">Mis vuelos</a>
        </div>
    </div>

    <div class="container-fluid">
        <li class="nav-item"><a class="nav-link" href="#">Vuelos</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Paquetes</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Hoteles</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Autos</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Seguros</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Upgrade</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Centro de ayuda</a></li>
    </div>



</nav>